{% extends 'layouts/landing.html.twig' %}
{% block title %}
Détails produit
{% endblock %}
{% block body %}
<!--Page Title-->
<section class="page-title-two bg-color-1 centred">
    <div class="pattern-layer">
        <!-- <div class="pattern-1" style="background-image: url(assets/images/shape/shape-9.png);"></div> -->
        <!-- <div class="pattern-2" style="background-image: url(assets/images/shape/shape-10.png);"></div> -->
    </div>
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>Détails produit</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="/">Accueil</a></li>
                <li>Détails</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->


<!-- property-details -->
<section class="property-details property-details-two">
    <div class="auto-container">
        <div class="carousel-inner">
            <div class="bxslider">
                <div class="slider-content">
                    <div class="product-image">
                        <figure class="image-box"><img src="{{ asset('uploads/property_images/' ~ property.image) }}"
                                alt=""></figure>
                    </div>
                    <div class="slider-pager">
                        <ul class="thumb-box clearfix">
                            <li>
                                <a class="active" data-slide-index="0" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-1.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="1" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-2.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="2" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-3.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="3" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-4.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="4" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-5.jpg" alt=""></figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slider-content">
                    <div class="product-image">
                        <figure class="image-box"><img src="assets/images/resource/property-details-3.jpg" alt="">
                        </figure>
                    </div>
                    <div class="slider-pager">
                        <ul class="thumb-box clearfix">
                            <li>
                                <a class="active" data-slide-index="0" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-1.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="1" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-2.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="2" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-3.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="3" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-4.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="4" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-5.jpg" alt=""></figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slider-content">
                    <div class="product-image">
                        <figure class="image-box"><img src="assets/images/resource/property-details-4.jpg" alt="">
                        </figure>
                    </div>
                    <div class="slider-pager">
                        <ul class="thumb-box clearfix">
                            <li>
                                <a class="active" data-slide-index="0" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-1.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="1" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-2.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="2" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-3.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="3" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-4.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="4" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-5.jpg" alt=""></figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slider-content">
                    <div class="product-image">
                        <figure class="image-box"><img src="assets/images/resource/property-details-5.jpg" alt="">
                        </figure>
                    </div>
                    <div class="slider-pager">
                        <ul class="thumb-box clearfix">
                            <li>
                                <a class="active" data-slide-index="0" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-1.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="1" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-2.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="2" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-3.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="3" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-4.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="4" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-5.jpg" alt=""></figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slider-content">
                    <div class="product-image">
                        <figure class="image-box"><img src="assets/images/resource/property-details-6.jpg" alt="">
                        </figure>
                    </div>
                    <div class="slider-pager">
                        <ul class="thumb-box clearfix">
                            <li>
                                <a class="active" data-slide-index="0" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-1.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="1" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-2.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="2" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-3.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="3" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-4.jpg" alt=""></figure>
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="4" href="#">
                                    <figure><img src="assets/images/resource/single-thumb-5.jpg" alt=""></figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-details clearfix">
            <div class="left-column pull-left clearfix">
                <h3>{{property.title}}</h3>
                <div class="author-info clearfix">
                    <div class="author-box pull-left">
                        <figure class="author-thumb"><img src="{{asset('front/images/feature/author-1.jpg')}}" alt="">
                        </figure>
                        <h6>{{property.owner}}</h6>
                    </div>
                </div>
            </div>
            <div class="right-column pull-right clearfix">
                <div class="price-inner clearfix">
                    <ul class="category clearfix pull-left">
                        <li><a class="text-uppercase">{{property.getCategoryId().libelle}}</a></li>
                        <li><a class="text-uppercase">{{property.type}}</a></li>
                    </ul>
                    <div class="price-box pull-right">
                        <h3>{{property.price | format_currency('EUR')}}</h3>
                    </div>
                </div>
                <ul class="other-option pull-right clearfix">
                    <li><a href="{{ path('app_favourite_new', {'id': property.id }) }}"><i class="icon-13"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="property-details-content">
                    <div class="discription-box content-widget">
                        <div class="title-box">
                            <h4>Description</h4>
                        </div>
                        <div class="text">
                            <p style="line-break: anywhere;"> {{property.description}} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="property-sidebar default-sidebar">

                    <div class="property-details-content">
                        <div class="amenities-box content-widget">
                            <div class="title-box">
                                <h4>Autres</h4>
                            </div>
                            <ul class="list clearfix">
                                <li>VILLE : {{ property.country }}</li>
                                <li>LOCALISATION : {{ property.postalCode ? property.postalCode : '' }}</li>
                                <li>SURFACE : {{ property.surface }} m²</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}