<section class="feature-section alternate-2 sec-pad">
    <div class="auto-container">
        <div class="sec-title centred">
            <h5>
                Biens
                
                
                
                            
            </h5>
            <h2>
                Quelques biens
                
                
                
                            
            </h2>
            <p>
                Retrouvez ci-dessous quelques biens, et amusez-vous.
                
                
                
                            
            </p>
        </div>
        <div class="row clearfix">
            {% for item in properties %}
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="{{ asset('uploads/property_images/' ~ item.image) }}" alt=""></figure>
                                    <span class="category">
                                        {# {{ item.getCategoryId().libelle }} #}
                                    </span>
                                </div>
                                <div class="lower-content">
                                    <div class="author-info clearfix">
                                        <div class="author pull-left">
                                            <figure class="author-thumb">
                                                <img src="{{ asset('front/images/feature/author-1.jpg') }}" alt=""></figure>
                                                <h6>
                                                    {{ item.owner }}
                                                </h6>
                                            </div>
                                            <div class="buy-btn pull-right">
                                                <a href="property-details.html">
                                                    {{ item.type }}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="title-text">
                                            <h4>
                                                <a href="property-details.html">
                                                    {{ item.title }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="price-box clearfix">
                                            <div class="price-info pull-left">
                                                <h6>
                                                    Start From
                                                                                        
                                                </h6>
                                                <h4>
                                                    {{ item.price | format_currency('EUR') }}
                                                </h4>
                                            </div>
                                            <ul class="other-option pull-right clearfix">
                                                <li>
                                                    <a href="property-details.html">
                                                        <i class="icon-13"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p>
                                            {{ item. description }}
                                        </p>
                                        <ul class="more-details clearfix">
                                            <li>
                                                <i class="icon-10"></i>
                                                {{ item.country }}
                                            </li>
                                            <li>
                                                <i class="icon-12"></i>
                                                {{ item.postal_code ? item.postal_code : '' }}
                                            </li>
                                            <li>
                                                <i class="icon-16"></i>
                                                {{ item.surface }}
                                                m²
                                                                                
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        