<section class="banner-section" style="background-image: url(front/images/banner/bannerx.jpg);">
    <div class="auto-container">
        <div class="inner-container">
            <div class="content-box centred">
                <h2>Bienvenue chez la SAFER</h2>
                <p>Amet consectetur adipisicing elit sed do eiusmod.</p>
            </div>
            <div class="search-field">
                <div class="tabs-box">
                    <div class="tab-btn-box">
                        <ul class="tab-btns tab-buttons centred clearfix">
                            <li class="tab-btn" data-tab="#tab-2">RECHERCHER</li>
                        </ul>
                    </div>
                    <div class="tabs-content info-group">
                        <div class="tab active-tab" id="tab-1">
                            <div class="inner-box">
                                <div class="top-search">
                                    {{ form_start(form, {'action': path('app_search'), 'method': 'POST', 'attr': {'class': 'search-form' }}) }}
                                    <div class="row clearfix">
                                        <div class="col-lg-4 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <label>Bien recherché</label>
                                                <div class="field-input">
                                                    {{ form_widget(form.q, {'attr': {'class': 'form-control form-control-lg' }}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <input type="search" name="search-field" placeholder="Search by Property, Location or Landmark..." required=""> -->
                                        <div class="col-lg-4 col-md-6 col-sm-12 column">
                                            <div class="form-group">
                                                <label>Localisation</label>
                                                <div class="field-input">
                                                    {{ form_widget(form.country, {'attr': {'class': 'form-control form-control-lg' }}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 column">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <div class="field-select">
                                                    {{ form_widget(form.type, {'attr': {'class': 'form-select form-select-sm' }}) }}
                                                </div>
                                            </div>
                                        </div>
                                        {# <div class="col-lg-3 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <label>Catégorie</label>
                                                <div class="field-input">
                                                    {{ form_widget(form.categories, {'attr': {'class': 'form-select form-select-sm' }}) }}
                                                </div>
                                            </div>
                                        </div> #}
                                    </div>
                                    <div class="search-btn">
                                        <button type="submit" class="px-2"><i class="fas fa-search"></i>RECHERCHER</button>
                                    </div>

                                </div>
                                <div class="switch_btn_one ">
                                    <button class="nav-btn nav-toggler navSidebar-button clearfix search__toggler" type="button">Recherche avancée<i class="fas fa-angle-down"></i></button>
                                    <div class="advanced-search">
                                        <div class="close-btn">
                                            <a href="#" class="close-side-widget"><i class="far fa-times"></i></a>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-lg-3 col-md-12 col-sm-12 column">
                                                <div class="form-group">
                                                    <label>Prix Min</label>
                                                    <div class="field-input">
                                                        {{ form_widget(form.pricemin, {'attr': {'class': 'form-control form-control-lg' }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-12 col-sm-12 column">
                                                <div class="form-group">
                                                    <label>Prix Max</label>
                                                    <div class="field-input">
                                                        {{ form_widget(form.pricemax, {'attr': {'class': 'form-control form-control-lg' }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-12 col-sm-12 column">
                                                <div class="form-group">
                                                    <label>Surface Min</label>
                                                    <div class="field-input">
                                                        {{ form_widget(form.surfacemin, {'attr': {'class': 'form-control form-control-lg' }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-12 col-sm-12 column">
                                                <div class="form-group">
                                                    <label>Surface Max</label>
                                                    <div class="field-input">
                                                        {{ form_widget(form.surfacemax, {'attr': {'class': 'form-control form-control-lg' }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>