{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<div class="row">
    <div class="col-12 mb-2">
        <div class="border rounded p-2">
            <h4 class="mb-1">
                Image de Couverture
            </h4>
            <div class="media flex-column flex-md-row">
                <img src="{{ asset('assets/images/slider/03.jpg') }}" id="blog-feature-image"
                    class="rounded mr-2 mb-1 mb-md-0" width="170" height="110" alt="Blog Featured Image" />
                <div class="media-body">
                    <small class="text-muted">
                        Required image resolution 800x400, image size 10mb.
                    </small>
                    <p class="my-50">
                        <a href="javascript:void(0);" id="blog-image-text">
                            C:\fakepath\banner.jpg
                        </a>
                    </p>
                    <div class="d-inline-block">
                        <div class="form-group mb-0">
                            <div class="custom-file">
                                {# <input type="file" class="custom-file-input" name="image" id="blogCustomFile"
                                    accept="image/*" /> #}
                                {{ form_widget(form.imageFile, {'attr': {'class': 'custom-file-input' }}  ) }}

                                <label class="custom-file-label" for="blogCustomFile">
                                    Choisir un fichier
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label for="libelle">
                Titre du bien
            </label>
            {{ form_widget(form.title, {'attr': {'class': 'form-control' }} ) }}

            <div class="form-error text-danger">
                {{ form_errors(form.title) }}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            <label for="libelle">
                Surface
            </label>
            {{ form_widget(form.surface, {'attr': {'class': 'form-control' }}
            ) }}

            <div class="form-error text-danger">
                {{ form_errors(form.surface) }}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            <label for="libelle">
                Type
            </label>
            {{ form_widget(form.type, {'attr': {'class': 'form-control' }}
            ) }}

            <div class="form-error text-danger">
                {{ form_errors(form.type) }}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            <label for="libelle">
                Prix
            </label>
            {{ form_widget(form.price, {'attr': {'class': 'form-control' }}
            ) }}

            <div class="form-error text-danger">
                {{ form_errors(form.price) }}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            <label for="libelle">
                Catégorie
            </label>
            {{ form_widget(form.category_id, {'attr': {'class': 'form-control' }}
            ) }}

            <div class="form-error text-danger">
                {{ form_errors(form.category_id) }}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            <label for="libelle">
                Ville
            </label>
            {{ form_widget(form.country, {'attr': {'class': 'form-control' }}
            ) }}

            <div class="form-error text-danger">
                {{ form_errors(form.country) }}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            <label for="libelle">
                Code postal
            </label>
            {{ form_widget(form.postal_code, {'attr': {'class': 'form-control' }}
            ) }}

            <div class="form-error text-danger">
                {{ form_errors(form.postal_code) }}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            <label for="libelle">
                Porteur
            </label>
            {{ form_widget(form.owner, {'attr': {'class': 'form-control' }}
            ) }}

            <div class="form-error text-danger">
                {{ form_errors(form.owner) }}
            </div>
        </div>
    </div>
    <div class="col-md-12 col-12">
        <div class="form-group">
            <label for="libelle">
                Description
            </label>
            {{ form_widget(form.description, {'attr': {'class': 'form-control' }}
            ) }}

            <div class="form-error text-danger">
                {{ form_errors(form.description) }}
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary">
    {{ button_label|default('Enregistrer') }}
</button>
{{ form_end(form) }}

{# <div class="form-group">
    <label for="libelle">
        Libellé
    </label>
</div>
<button class="btn btn-primary">
    {{ button_label|default('Enregistrer') }}
</button> #}

{% block javascripts %}
<script>
    (function (window, document, $) {
        'use strict';

        //var select = $('.select2');
        //var editor = '#blog-editor-container .editor';
        var blogFeatureImage = $('#blog-feature-image');
        var blogImageText = document.getElementById('blog-image-text');
        var blogImageInput = $('#blogCustomFile');

        // Change featured image
        if (blogImageInput.length) {
            $(blogImageInput).on('change', function (e) {
                var reader = new FileReader(),
                    files = e.target.files;
                reader.onload = function () {
                    if (blogFeatureImage.length) {
                        blogFeatureImage.attr('src', reader.result);
                    }
                };
                reader.readAsDataURL(files[0]);
                blogImageText.innerHTML = blogImageInput.val();
            });
        }
    })(window, document, jQuery);
</script>
{% endblock %}