{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Biens{% endblock %}

{% block body %}
    <h3>Biens</h3>
    <div class="content-header row my-2">
        <div class="ml-2">
            <a href="{{ path('app_property_new') }}" class="btn btn-primary mb-1">
                Nouveau
            </a>
        </div>
    </div>
    <div class="card">    
    <table class="table"  id="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Surface</th>
                <th>Prix</th>
                <th>Type</th>
                <th>Ajouté le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ property.title }}</td>
                <td>{{ property.surface }} m²</td>
                <td>{{ property.price | format_currency('EUR') }}</td>
                <td>{{ property.type }}</td>
                <td>{{ property.createdAt ? property.createdAt|date('d-m-Y') : '' }}</td>
                <td>
                    
                    <a class="btn btn-sm btn-success" href="{{ path('app_property_show', {'id': property.id}) }}">Voir</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_property_edit', {'id': property.id}) }}">Modifier</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('app_property_delete', {'id': property.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
