{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Biens{% endblock %}

{% block body %}
    <div class="content-header row mb-2">
        <div class="ml-2">
            <a href="{{ path('app_property_new') }}" class="btn btn-primary mb-1">
                Nouveau
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Surface</th>
                <th>Prix</th>
                <th>Description</th>
                {# <th>Country</th>
                <th>Postal_code</th>
                <th>String</th> #}
                <th>Type</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.title }}</td>
                <td>{{ property.surface }}</td>
                <td>{{ property.price }}</td>
                <td>{{ property.description }}</td>
                {# <td>{{ property.country }}</td>
                <td>{{ property.postalCode }}</td>
                <td>{{ property.string }}</td> #}
                <td>{{ property.type }}</td>
                <td>{{ property.createdAt ? property.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_property_show', {'id': property.id}) }}">show</a>
                    <a href="{{ path('app_property_edit', {'id': property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
