{% extends 'layouts/landing.html.twig' %}
{% block title %}
Liste des biens

{% endblock %}
{% block body %}
<section class="page-title-two bg-color-1 centred">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-9.png);"></div>
        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-10.png);"></div>
    </div>
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>Tous les biens</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="/">Accueil</a></li>
                <li>Biens</li>
            </ul>
            {% if view == 'list_category' %}
            <h2 class="text-uppercase">
                {{category.libelle}}
            </h2>
            {% endif %}
        </div>

    </div>
</section>
<section x-data="handler()" class="feature-section alternate-2 sec-pad">
    <div class="mx-2">
        <div class="row clearfix">
            {% for item in properties %}
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <img src="{{ asset('uploads/property_images/' ~ item.image) }}" alt="">
                            </figure>
                            <span class="category">{{view == 'list_category' ? category.libelle : item.getCategoryId().libelle}}</span>
                        </div>
                        <div class="lower-content">
                            <div class="author-info clearfix">
                                <div class="author pull-left">
                                    <figure class="author-thumb">
                                        <img src="{{ asset('front/images/feature/author-1.jpg') }}" alt="">
                                    </figure>
                                    <h6>
                                        {{item.owner ? item.owner : 'John Doe'}}
                                    </h6>
                                </div>
                                <div class="buy-btn pull-right">
                                    <a href="{{ path('app_property_details', {'id': item.id }) }}">
                                        {{ item.type }}
                                    </a>
                                </div>
                            </div>
                            <div class="title-text">
                                <h4>
                                    <a href="{{ path('app_property_details', {'id': item.id }) }}">
                                        {{ item.title }}
                                    </a>
                                </h4>
                            </div>
                            <div class="price-box clearfix">
                                <div class="price-info pull-left">
                                    <h6>
                                        Prix
                                    </h6>
                                    <h4>
                                        {{item.price | format_currency('EUR')}}
                                    </h4>
                                </div>
                                <ul class="other-option pull-right clearfix">
                                    <li>
                                        {# {% set entryInfo = {
                                            id: item.id,
                                            type: item.type,
                                            owner: item.owner,
                                            image: asset('uploads/property_images/' ~ item.image),
                                            category: view == 'list_category' ? category.libelle : item.getCategoryId().libelle,
                                            title: item.title,
                                            price: item.price,
                                            country: item.country,
                                            postalCode: item.postalCode,
                                            surface: item.surface,
                                        } %} #}
                                        <a href="{{ path('app_favourite_new', {'id': item.id }) }}">
                                            <i class="icon-13"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            {# <p>
                                {{item.description}}
                            </p> #}
                            <ul class="more-details clearfix">
                                <li>
                                    <i class="icon-10"></i>
                                    {{item.country}}
                                </li>
                                <li>
                                    <i class="icon-12"></i>
                                    {{item.postalCode}}
                                </li>
                                <li>
                                    <i class="icon-16"></i>
                                    {{item.surface}} m²
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    function handler() {
        return {
            addTofav(item) {
                let favourites = [];
                if (localStorage.getItem('favourites')) {
                    favourites = JSON.parse(localStorage.getItem('favourites'));
                }
                favourites.push(item);
                localStorage.setItem('favourites', JSON.stringify(favourites));

                let found = favourites.find((_item) => _item.id === item.id);
                if(found){
                    toastr['warning']('Cet élement est déja enregistré en favoris 🛒', 'FAVORIS', {
                        closeButton: true,
                        tapToDismiss: true,
                        progressBar: true,
                        positionClass: "toast-bottom-left",
                    });

                }else{
                    favourites.push(item);
                    localStorage.setItem('favourites', JSON.stringify(favourites))
    
                    toastr['success']('Produit ajouté aux favoris 🛒', 'FAVORIS', {
                        closeButton: true,
                        tapToDismiss: true,
                        progressBar: true,
                        positionClass: "toast-bottom-left",
                    });

                }
            },
        }
    }
</script>
{% endblock %}